body{
    font-family: 'Segoe UI', sans-serif;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#111827;
    color:white;
    position:fixed;
}

.sidebar a{
    display:block;
    padding:10px;
    color:white;
    text-decoration:none;
}

.sidebar a:hover{
    background:#2563eb;
}

.content{
    margin-left:250px;
}

.card-animate{
    transition:0.3s;
}

.card-animate:hover{
    transform:scale(1.05);
}

.dark-mode{
    background:#1e1e1e;
    color:white;
}